extends ../../../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Услуги'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  //- - var jQuery = true
  //- - var jQueryUI = true
  //- - var jQueryEasing = true
  //- - var bxSlider = true
  //- - var picturefill = true
  //- - var animateNumber = true
  //- - var animateCss = true
  //- - var wowJs = true
  //- - var mainJsSrc = 'js/main.min.js'

  //- smoothDivScroll
  - var jQuery = true
  //- - var jQueryUI = true
  //- - var jQueryMousewheel = true
  //- - var jQkinetic = true
  //- - var jQsmoothDivScroll = true
  //- eof smoothDivScroll

  //- - var waterwheelCarousel = true
  //- counter:
  //- - var animateNumber = true
  //- - var animateCss = true
  //- - var wowJs = true
  //- - var flickity = true

  //- countdown circles
  //- - var TimeCircles = true

  - var updateBodyClass = bodyClasses.push('page-check-last');

  //- - var jQueryFancybox = true

  //- - var GoogleFonts = GoogleFonts.concat('|PT+Sans:400,700&amp;subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper


    //
          ========================================================
                                  HEADER
          ========================================================

    //- header
    //- include ../../global-modules/001-0__header-global
    //- eof header
    // header
    header.header
      .shell
        .container
          .range
            .header-wrap
              //- .header-logo
              .header-logo
                img.header-logo-essence(src="img/logo.png")

              //- .header-content
              .header-desc
                .desc
                 | Шины, Диски <br>
                 | и Масла с доставкой <br>
                 | по всему Казахстану <br>
                .dealer


              //- .user-block
              .user-block
                .phone +7(727)394-04-58
                  .phone-tooltip
                    .phone-tooltip-item Магазин
                    .phone-tooltip-num +7 (727) 394-04-58
                    .phone-tooltip-item Сервис
                    .phone-tooltip-num +7 (727) 394-04-58

                .row
                  .search
                    .search-essence
                  .cart
                    .cart-essence
                  .login Войти/регистрация

              .header-mobile
                .header-mobile-wrap
                  .header-mobile__burger
                    .header-mobile__burger-container
                      input#click(name='exit', type='checkbox')
                      label(for='click')
                        span.burger

                    //- .header-mobile__burger-essence
                    //-   input#click(name='exit', type='checkbox')
                    //-   label(for='click')
                    //-     span.header-mobile__burger-lines
                  .header-mobile__logo
                  .header-mobile__cart
    //- .menu-wrap
    //-   .flex.menu
    .cart-title-line
      .cart-title-line-wrap
        .cart-title-line-text 4: Подтверждение заказа
    //- eof header
    //
          ========================================================
                                  CONTENT
          ========================================================

    //- main
    main.main


      //- include 02--btitle

      include 03--check


      //- eof main





    //
          ========================================================
                                  FOOTER
          ========================================================

    //- footer

    include ../../global-modules/002__footer-global


    //- include ../../global-modules/005__modal-content




    //- modal content
    //- include partials/__popup
    //- eof modal content

    //- eof footer
