// check
section.check
  .shell
    .container
      .range
        .check-wrapper

          .check-title Корзина
          .steps
            .steps__control.active
            .steps-control-text Ваши заказы
            ul.steps__list
              li.steps__list-item.done
                a.steps__list-item-link(href="#")
                  .steps__list-item-text Ваши заказы
              li.steps__list-item.done
                a.steps__list-item-link(href="#")
                  .steps__list-item-text Контактные данные
              li.steps__list-item.done
                a.steps__list-item-link(href="#")
                  .steps__list-item-text Оплата
            .steps__progress.done
              .steps__progress-text
                span.current 1
                | /3

          .final
            .title Спасибо за ваш заказ <span>№1234!</span>
            .subtitle Данные о вашем заказе мы отправили вам на почту.<br> Наш менеджер в скором времени свяжется с вами для уточнения данных и подтверждения наличия товара.

            .back-btn
              .back-btn-text вернуться на главную
            .contacts
              .phone 
                .phone-text +7 (727) 344-08-80
              .mail
                .mail-text tyreplus@mail.com



// check end
