// check
section.check
  .shell
    .container
      .range
        .check-wrapper

          .check-title Корзина
          .steps
            .steps__control
            .steps-control-text Ваши заказы
            ul.steps__list
              li.steps__list-item.current
                a.steps__list-item-link(href="#")
                  .steps__list-item-text Ваши заказы
              li.steps__list-item
                a.steps__list-item-link(href="#")
                  .steps__list-item-text Контактные данные
              li.steps__list-item
                a.steps__list-item-link(href="#")
                  .steps__list-item-text Оплата
            .steps__progress
              .steps__progress-text
                span.current 1
                | /3

          .final
            .title Спасибо за ваш заказ №1234!
            .subtitle Данные о вашем заказе мы отправили вам на почту.<br> Наш менеджер в скором времени свяжется с вами для уточнения данных и подтверждения наличия товара.

            .back-btn
              .back-btn-text вернуться н главную
            .contacts
              .phone +7 (727) 344-08-80
              .mail tyreplus@mail.com



// check end
