li.viewed-content__item
  .item-wrap
    img.item-thumb(src="img/catalog_item-thumb--oil.jpg")
    .item-content
      .item-title
        .item-title-essence BMW M TwinPower Turbo
        .item-sub-title-essence Синтетическое
        .item-stars
          .item-stars-five
            .item-stars-item.selected
            .item-stars-item.selected
            .item-stars-item.selected
            .item-stars-item
            .item-stars-item
          .item-stars-voices 5 голосов
        //- .item-icons
        //-   .icon-item.icon-car
        //-   .icon-item.icon-thorns
        //-   .icon-item.icon-snow

      //- .item-dimensions
      //-   .width.dimensions-item
      //-     .dimensions-title Ширина
      //-     .dimensions-param 220
      //-   .height.dimensions-item
      //-     .dimensions-title Высота
      //-     .dimensions-param 50
      //-   .diametr.dimensions-item
      //-     .dimensions-title Диаметр
      //-     .dimensions-param 16

      .item-index
        .index-item.index
          .index-title Вязкость
          .index-param 5w-40
        .index-item.index
          .index-title Объём, л.
          .index-param 60
      .item-price
        .price-text Цена <span class="price-data">1000</span> тг
      .mask
        .btns-container
          .btn-wrap
            .btn Подробнее
          a.onebuy(href="") купить в один клик
