


.check
  .check-title Корзина
  .steps
    .steps__control
    ul.steps__list
      li.steps__list-item
        a.steps__list-item-link Ваши закаОПалатзы
      li.steps__list-item
        a.steps__list-item-link Контактные данные
      li.steps__list-item
        a.steps__list-item-link Оплата
    .steps__progress
      span.current 1
      | /3

  .check-tab
    .col.photo
      .cell.first Фото
      .cell
      .cell
      .cell
      .cell
      .cell
    .col.name
      .cell.first Название
      .cell Rikken snowtime B2
      .cell BMW M TwinPower Turbo
      .cell Stark ST-24
      .cell Infolight Expert PRO/Xenotex H7
      .cell Rikken snowtime B2
    .col.size
      .cell.first Размер
      .cell 120/45/92
      .cell 60
      .cell 10/50 4х118
      .cell 4300К
      .cell 120/45/92
    .col.category
      .cell.first Категория
      .cell Легковые
      .cell Синтетическое масло
      .cell Диски
      .cell Свет
      .cell Легковые
    .col.num
      .cell.first Количество, шт
      .cell
      .cell
      .cell
      .cell
      .cell
    .col.price
      .cell.first Цена, тг
      .cell 110 000
      .cell 50 000
      .cell 9 999 999
      .cell 50
      .cell 110 000
    .col.del
      .cell.first
      .cell
      .cell
      .cell
      .cell
      .cell

    .check-sum
      .text Общая стоимость:
      .num 876412
      .btn Следующий шаг

    .fast
      .fast__wrapper
      .fast__desc
        .fast__desc-title
        .fast__desc-text

      .fast__phone
        label.fast__phone-title
        input.fast__phone-field
      .fast__btn Отправить
