// product
section.product
  .shell
      .container
        .range
          .product-wrapper
            //- titele
            h2.product-title



            //- content
            .product-content
              .left
                .item-imgs
                  .item-img.big
                  .item-img.small
                  .item-img.small
                  .item-img.small
              .right


// product end
