

// similars
section.similars
  .shell
      .container
        .range
          .similars-wrapper
            //- titele
            h2.similars-title.wheel-title Аналоги


            //- content
            ul.similars-content.wide#similars
              include 03-1--similars__item
              include 03-2--similars__item--oil
              include 03-1--similars__item
              include 03-1--similars__item
              include 03-1--similars__item
              include 03-1--similars__item

            ul.similars-content.min#similars-min
              li
                include 03-2--similars__item--min
              li
                include 03-2--similars__item--min
            .similars-controls
              .similars-controls__left
              .similars-controls__right
// similars end
