// article
section.article
  .shell
    .container
      .range


        .article-wrapper
          .article-content
            img.article-content__img(src="img/about-us__cont_img-01.jpg")
            .article-content__text <strong>TYREPLUS</strong> – это федеральная сеть профессиональных легковых и грузовых шинных центров, имеющая единые стандарты организации бизнеса по всей России, а также в странах СНГ (Украина, Казахстан, Молдова, Беларусь, Армения и Азербайджан).

            .article-content__text <strong>TYREPLUS</strong> - это доступность широкого ассортимента шин и сопутствующих товаров, а также высокий уровень обслуживания покупателей.
            .article-triangle__img
              img.article-content__img(src="img/about-us__cont_img-02-origin.png")
            .article-content__text Владельцы легковых автомобилей могут приобрести в нашей сети шины различных импортных и российских производителей, колесные диски, масла, фильтры, автохимию и аксессуары, а также воспользоваться целым рядом услуг, таких как шиномонтаж, балансировка, развал-схождение, мелкий ремонт автомобиля, замена масла и тормозных колодок, накачка, мойка и сезонное хранение шин.

            .article-content__text Грузовые шинные центры TYREPLUS предлагают большой выбор шин и сопутствующих товаров для коммерческого транспорта, а также разнообразные услуги, способствующие повышению рентабельности грузоперевозок, в том числе ремонт, нарезка и восстановление шин.
            img.article-content__img(src="img/about-us__cont_img-03.jpg")
            .article-content__text Развитие сети TYREPLUS является одной из приоритетных задач деятельности компании Мишлен в России, имеющей успешный опыт построения дистрибьюторских сетей в Мексике, Индии, Таиланде, Китае и Австралии. Шинные центры TYREPLUS функционируют на базе разработанной компанией Мишлен современной бизнес-модели с полным информационным обеспечением. Особое внимание уделяется обучению персонала шинных центров, проводимому сотрудниками учебного центра Мишлен – профессионалами с многолетним опытом работы в шинном бизнесе. Вы можете быть уверены, что при выборе товара получите грамотную консультацию, а все работы будут осуществлять высококвалифицированные специалисты.


            ul.article-content__list
              .article-content__list-title Преимущества сети <strong>TYREPLUS</strong>:
              li.article-content__item • Сеть федерального масштаба с одинаково высокими стандартами обслуживания.
              li.article-content__item • Постоянное стремление улучшать стандарты организации продаж и предоставления услуг.
              li.article-content__item • Регулярный аудит шинных центров для поддержания высокого уровня обслуживания.
              li.article-content__item • Возможность приобретать шины Группы Мишлен и получать профессиональные консультации и услуги.



// article end
