//- maps instance
.maps__item
  .left
    a.left-img(href="img/about-us__maps_instance-02.jpg")
      img(src="img/about-us__maps_instance-02.jpg")
  .right
    .address
      .address-title Филиал ТОО «Казахстанская Топливная Компания»
      .address-text г.Астана, район Сарыарка 010000, ул.Складская
    .extra
      //- i
      .extra-item
        .extra-item-title Магазин:
        .extra-item-text +7 (7172) 49-26-06
        .extra-item-text +7 701727-65-53
        .extra-item-text +7 701-727-65-83
      //- i
      .extra-item
        .extra-item-title Время работы
        .extra-item-text 09:00-18:00 Пн-Пт
        .extra-item-text 13:00-14:00 Обед
        .extra-item-text 09:00-14:00 Сб
