// panel
section.panel
  .shell
      .container
        .range
          .panel-wrapper

            //- titele
            //- h2.panel-title
            //- hr
            //- content
            .panel-content
              .thumb
                .thumb-text М
              .mail
                .mail-prefix E-mail:
                .mail-essence MarkHeisenberg@mail.com
              .logout
                .logout-btn
                  .logout-btn-text Выход
                .change-pass Сменить пароль


// panel end
