// constructor
section.constructor
  .shell
      .container
        .range
          .constructor-wrapper
            //- titele
            h2.constructor-title
            hr
            //- content
            .constructor-content
              .constructor-content__item
                .unit-left
// constructor end
