// partners
section.partners
  .shell
    .container
      .range
        .partners-wrapper
          //- title
          h2.partners-title.wheel-title наши партнёры

          //- content
          .partners-content
            //- 01:
            .partners__item
              img.partners__item-img(src="img/home_partners-item-01.png")
            //- 02:
            .partners__item
              img.partners__item-img(src="img/home_partners-item-02.png")
            //- 03:
            .partners__item
              img.partners__item-img(src="img/home_partners-item-03.png")
            //- 04:
            .partners__item
              img.partners__item-img(src="img/home_partners-item-04.png")
            //- 05:
            .partners__item
              img.partners__item-img(src="img/home_partners-item-05.png")
            //- 06:
            .partners__item
              img.partners__item-img(src="img/home_partners-item-06.png")

// partners end
