// partners
section.partners
  .shell
    .container
      .range
        .partners-wrapper
          //- title
          h2.partners-title.wheel-title наши партнёры

          //- content
          .partners-content
            //- 01:
            .partners__item
              .img
            //- 02:
            .partners__item
              .img
            //- 03:
            .partners__item
              .img
            //- 04:
            .partners__item
              .img
            //- 05:
            .partners__item
              .img
            //- 06:
            .partners__item
              .img

// partners end
