

// viewed
section.viewed
  .shell
      .container
        .range
          .viewed-wrapper
            //- titele
            h2.viewed-title Ранее смотрели
            hr
            //- content
            .viewed-content
              .viewed-content__item000000
                .unit-left
// viewed end
