.result-content__item
  .item-wrap
    img.item-thumb(src="img/catalog_item-thumb.jpg")
    .item-content
      .item-title
        .item-title-essence Infolight Expert PRO/Xenotex H7
        .item-stars
          .item-stars-five
            .item-stars-item.selected
            .item-stars-item.selected
            .item-stars-item.selected
            .item-stars-item
            .item-stars-item
          .item-stars-voices 5 голосов
        .item-icons
          .icon-item.icon-car
          .icon-item.icon-thorns
          .icon-item.icon-snow

      .item-dimensions
        .width.dimensions-item
          .dimensions-title Ширина
          .dimensions-param 220
        .height.dimensions-item
          .dimensions-title Высота
          .dimensions-param 50
        .diametr.dimensions-item
          .dimensions-title Диаметр
          .dimensions-param 16

      .item-index
        .index-item.index
          .index-title Индекс скорости
          .index-param 10
        .index-item.index
          .index-title Индекс нагрузки
          .index-param 92
      .item-price
        .price-text Цена <span class="price-data">2300</span> тг
      .mask
        .btn Подробнее
        a.onebuy(href="") купить в один клик
