// services
section.services
  .shell
    .container
      .range
        .services-wrapper
            //- //- titele
            //- h2.services-title.wheel-title Оказываем весь спектр услуг по обслуживанию Вашего авто
            //- //- content
            //- .services-content


            //- ITEM
            .services__item-container
              .services__item
                .services__item__title Шиномонтаж без очереди
                .services__item__text Вы можете не переживать из-за особенностей и размеров своих колес. За счет новейшего оборудования и квалифицированных мастеров оказываем услуги шиномонтажа для автомобилей всех марок!
                .services__item__desc
                  .services__item__desc-title Наши услуги:
                  ul.services__item__desc-list
                    li - снятие/установка колес
                    li - чистка колес от грязи
                    li - монтаж/демонтаж резины
                    li - диагностика
                    li - балансировка с грузами
                    li - рекомендации специалиста
                    li - гарантия на работы

                //- .services__item__btns
                .services__item__subscribe Записаться
                .services__item__more Подробнее


            //- ITEM
            .services__item-container
              .services__item
                .services__item__title Шиномонтаж без очереди
                .services__item__text Вы можете не переживать из-за особенностей и размеров своих колес. За счет новейшего оборудования и квалифицированных мастеров оказываем услуги шиномонтажа для автомобилей всех марок!
                .services__item__desc
                  .services__item__desc-title Наши услуги:
                  ul.services__item__desc-list
                    li - снятие/установка колес
                    li - чистка колес от грязи
                    li - монтаж/демонтаж резины
                    li - диагностика
                    li - балансировка с грузами
                    li - рекомендации специалиста
                    li - гарантия на работы

                //- .services__item__btns
                .services__item__subscribe Записаться
                .services__item__more Подробнее


            //- ITEM
            .services__item-container
              .services__item
                .services__item__title Шиномонтаж без очереди
                .services__item__text Вы можете не переживать из-за особенностей и размеров своих колес. За счет новейшего оборудования и квалифицированных мастеров оказываем услуги шиномонтажа для автомобилей всех марок!
                .services__item__desc
                  .services__item__desc-title Наши услуги:
                  ul.services__item__desc-list
                    li - снятие/установка колес
                    li - чистка колес от грязи
                    li - монтаж/демонтаж резины
                    li - диагностика
                    li - балансировка с грузами
                    li - рекомендации специалиста
                    li - гарантия на работы

                //- .services__item__btns
                .services__item__subscribe Записаться
                .services__item__more Подробнее
// services end
