// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper

          ul.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href) Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href) Акции

// breadcrumbs end
