// promo
section.promo
  .shell
    .container
      .range
        .promo-wrapper

          //- ITEM
          .promo-item

            //- left
            .promo-item__left
              img.promo-item__img(src="img/home_promo-item-01.jpg")

            //- right
            .promo-item__right
              //- titele
              h2.promo-title Весна пришла! шины и услуги шинного сервиса со скидкой до 50%!

              //- content
              .promo-text
               | Дорогие друзья! <br>
               | С 1 декабря мы запускаем новую акцию F7. План «В». <br>
               | Теперь Вы можете купить зимние шины и получить услуги шинного  ... .юююскидкой до 50%!
              .promo-link-container
                .promo-link-more Узнать больше
                .promo-desc
                  .promo-desc-text действует с  01.01.2016 по 29.04.2017


          //- ITEM
          .promo-item

            //- left
            .promo-item__left
              img.promo-item__img(src="img/home_promo-item-02.jpg")

            //- right
            .promo-item__right
              //- titele
              h2.promo-title Весна пришла! шины и услуги шинного сервиса со скидкой до 50%!

              //- content
              .promo-text
               | Дорогие друзья!
               | С 1 декабря мы запускаем новую акцию F7. План «В».
               | Теперь Вы можете купить зимние шины и получить услуги шинного  ... .юююскидкой до 50%!
              .promo-link-container
                .promo-link-more Узнать больше
                .promo-desc
                  .promo-desc-text действует с  01.01.2016 по 29.04.2017

          //- ITEM
          .promo-item

            //- left
            .promo-item__left
              img.promo-item__img(src="img/home_promo-item-03.jpg")

            //- right
            .promo-item__right
              //- titele
              h2.promo-title Весна пришла! шины и услуги шинного сервиса со скидкой до 50%!

              //- content
              .promo-text
               | Дорогие друзья!
               | С 1 декабря мы запускаем новую акцию F7. План «В».
               | Теперь Вы можете купить зимние шины и получить услуги шинного  ... .юююскидкой до 50%!
              .promo-link-container
                .promo-link-more Узнать больше
                .promo-desc
                  .promo-desc-text действует с  01.01.2016 по 29.04.2017



          //- VIEW ALL
          .promo-load-more
            a.promo-load-more__up(href='#')
              .promo-load-more__up-text Загрузить еще 5
            .promo-load-more__paginator
              a.promo-load-more__paginator__next-btn(href="#")
                .promo-load-more__paginator__next-btn-text Следующая страница
              ul.promo-load-more__paginator-list
                li.promo-load-more__paginator-item
                  a.promo-load-more__paginator-item-link(href="#") 1
                li.promo-load-more__paginator-item
                  a.promo-load-more__paginator-item-link(href="#") 2
                li.promo-load-more__paginator-item.active
                  a.promo-load-more__paginator-item-link(href="#") 3
                li.promo-load-more__paginator-item
                  a.promo-load-more__paginator-item-link(href="#") 4
                li.promo-load-more__paginator-item.skip-next
                  a.promo-load-more__paginator-item-link(href="#") 5
                li.promo-load-more__paginator-item
                  a.promo-load-more__paginator-item-link(href="#") 10
              a.promo-load-more__paginator__prev-btn(href="#")
                .promo-load-more__paginator__prev-btn-text Предыдущая страница

// promo end
