
// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="каталог аксессуаров") каталог аксессуаров


        //- title
        .breadcrumbs-title
          .breadcrumbs-title-text каталог аксессуаров

// breadcrumbs end
