// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Наши услуги
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="FAQ ответы на часто задаваемые вопросы") FAQ ответы на часто задаваемые вопросы

        //- title
        .breadcrumbs-title
          .breadcrumbs-title-text FAQ, ответы на часто задаваемые вопросы

// breadcrumbs end
