// faq
section.faq
  .shell
      .container
        .range
          .faq-wrapper

            //- content
            .faq-content

              .faq-row
                .faq-item
                  .faq-item__text 1 Нужны ли шипованные шины в Алматы?
                .faq-item
                  .faq-item__text 2 Как выбрать грузовые шины в Алматы?

              .faq-row
                .faq-item
                  .faq-item__text 3 Зимние шины в Алматы: для зимы или лета?
                .faq-item
                  .faq-item__text 4 Как выбрать качественные шины?

              .faq-row
                .faq-item
                  .faq-item__text 5 Нужны ли шипованные шины в Алматы?
                .faq-item
                  .faq-item__text 6 Как выбрать грузовые шины в Алматы?

              .faq-row
                .faq-item
                  .faq-item__text 7 Зимние шины в Алматы: для зимы или лета?
                .faq-item
                  .faq-item__text 8 Как выбрать качественные шины?

              .faq-row
                .faq-item
                  .faq-item__text 9 Нужны ли шипованные шины в Алматы?
                .faq-item
                  .faq-item__text 10 Как выбрать грузовые шины в Алматы?

              .faq-row
                .faq-item
                  .faq-item__text 11 Зимние шины в Алматы: для зимы или лета?
                .faq-item
                  .faq-item__text 12 Как выбрать качественные шины?


            .faq-paginator
              ul.faq-paginator__list
                li.faq-paginator__item
                  a.faq-paginator__link(href="#") 1
                li.faq-paginator__item
                  a.faq-paginator__link(href="#") 2
                li.faq-paginator__item
                  a.faq-paginator__link(href="#") 3
                li.faq-paginator__item.active
                  a.faq-paginator__link(href="#") 4
                li.faq-paginator__item.skip-next
                  a.faq-paginator__link(href="#") 5
                li.faq-paginator__item
                  a.faq-paginator__link(href="#") 10
              .faq-paginator-controls
                .faq-paginator-controls__left
                .faq-paginator-controls__right
// faq end
