// cab
section.cab
  .shell
      .container
        .range
          .cab-wrapper
            //- content
            .cab-content

              .profile
                .profile-title
                  .profile-title-essence Данные для будущих заказов
                  .profile-subtitle Информацию будет использована только для ускорения оформления заказа. <br>Вы сможете поменять её в любое время.
                .profile-content

                  form.delivery
                    .delivery-title Данные о заказчике
                    .delivery-name
                      .delivery-name__first.delivery-item
                        label Ваше Имя
                        input(type="text" placeholder="Имя")
                      .delivery-name__last.delivery-item
                        label Фамилия
                        input(type="text" placeholder="Фамилия")
                      .delivery-name__phone.delivery-item
                        label Ваш номер телефона
                        input(type="text" placeholder="+7 (__) ___ __ __")

                    .delivery-type
                      .delivery-type__select
                        .title Выбор способа доставки
                        .item
                          input#delivery01(type="radio" name="delivery" checked)
                          span.radio-indicator
                          label(for="delivery01") Самовывоз
                        .item
                          input#delivery02(type="radio" name="delivery")
                          span.radio-indicator
                          label(for="delivery02") Доставка
                      .delivery-type__free
                        .left
                          .left-text
                            span БЕСПЛАТНО&nbsp;
                            | по алматы
                        .right
                          .right-text Доставка Бесплатно в пределах административных&nbsp;границ города Алматы

                    .delivery-address
                      .title Укажите Ваш адрес
                      .name
                        .name__first.delivery-item
                          label Город
                          input(type="text" placeholder="Город" value="Алматы")
                        .name__last.delivery-item
                          label Улица, проспект и т. п.
                          input(type="text" placeholder="Улица, проспект и т. п.")
                        .name__house.delivery-item
                          label Дом
                          input(type="text" placeholder="#" value="2")
                        .name__app.delivery-item
                          label Квартира
                          input(type="text" placeholder="#" value="12")


                    .btn-next
                      .btn-next-text Сохранить


// cab end
