// log
section.log
  .shell
      .container
        .range
          .log-wrapper

            //- content
            .log-content
              //- row
              .log-row
                .title История заказов
                .search
                  .search-send
                  input.search-input(type='input' placeholder="Поиск")
                  .search-btn
                    .search-btn-text Найти


              .check-tab-mobile
                .title
                  .title-left Навание
                  .title-right Цена, тг
                .content
                  .item
                    .row-top
                      .unit-name Rikken snowtime B2
                      .unit-price 110 000
                    .row-bottom
                      .unit-img
                        img.unit-img-essence(src="img/p-check_tab-photo-01.png")
                      .unit-num
                        label(for='addwin')
                        span.input-wrapper
                          a.info-right-form-minus(href='#') Less
                          input#addwin.people-number(type='text', pattern='[0-9]*', min='0', value="10" )
                          a.info-right-form-plus(href='#') More

                      a.unit-del(href="javascript:void(0)") Повторить
                        .remove-btn
                  .item
                    .row-top
                      .unit-name Rikken snowtime B2
                      .unit-price 110 000
                    .row-bottom
                      .unit-img
                        img.unit-img-essence(src="img/p-check_tab-photo-01.png")
                      .unit-num
                        label(for='addwin')
                        span.input-wrapper
                          a.info-right-form-minus(href='#') Less
                          input#addwin.people-number(type='text', pattern='[0-9]*', min='0', value="10" )
                          a.info-right-form-plus(href='#') More
                      a.unit-del(href="javascript:void(0)") Повторить
                        .remove-btn
                  .item
                    .row-top
                      .unit-name Rikken snowtime B2
                      .unit-price 110 000
                    .row-bottom
                      .unit-img
                        img.unit-img-essence(src="img/p-check_tab-photo-01.png")
                      .unit-num
                        label(for='addwin')
                        span.input-wrapper
                          a.info-right-form-minus(href='#') Less
                          input#addwin.people-number(type='text', pattern='[0-9]*', min='0', value="10" )
                          a.info-right-form-plus(href='#') More
                      a.unit-del(href="javascript:void(0)") Повторить
                        //- .remove-btn
                  .item
                    .row-top
                      .unit-name Rikken snowtime B2
                      .unit-price 110 000
                    .row-bottom
                      .unit-img
                        img.unit-img-essence(src="img/p-check_tab-photo-01.png")
                      .unit-num
                        label(for='addwin')
                        span.input-wrapper
                          a.info-right-form-minus(href='#') Less
                          input#addwin.people-number(type='text', pattern='[0-9]*', min='0', value="10" )
                          a.info-right-form-plus(href='#') More
                      a.unit-del(href="javascript:void(0)") Повторить
                        //- .remove-btn

              .check-tab
                .col.photo
                  .cell.first Фото
                  .cell
                    img.cell-img(src="img/p-check_tab-photo-01.png")
                  .cell
                    img.cell-img(src="img/p-check_tab-photo-02.png")
                  .cell
                    img.cell-img(src="img/p-check_tab-photo-03.png")
                  .cell
                    img.cell-img(src="img/p-check_tab-photo-04.png")
                  .cell
                    img.cell-img(src="img/p-check_tab-photo-05.png")
                .col.name
                  .cell.first Название
                  .cell Rikken snowtime B2
                  .cell BMW M TwinPower Turbo
                  .cell Stark ST-24
                  .cell Infolight Expert PRO/Xenotex H7
                  .cell Rikken snowtime B2
                .col.size
                  .cell.first Размер
                  .cell 120/45/92
                  .cell 60
                  .cell 10/50 4х118
                  .cell 4300К
                  .cell 120/45/92
                .col.category
                  .cell.first Категория
                  .cell Легковые
                  .cell Синтетическое масло
                  .cell Диски
                  .cell Свет
                  .cell Легковые
                .col.num
                  .cell.first Количество, шт
                  .cell 10
                  .cell 10
                  .cell 10
                  .cell 10
                  .cell 10
                .col.price
                  .cell.first Цена, тг
                  .cell 110 000
                  .cell 50 000
                  .cell 9 999 999
                  .cell 50
                  .cell 110 000
                .col.del
                  .cell.first
                  .cell Повторить
                  .cell Повторить
                  .cell Повторить
                  .cell Повторить
                  .cell Повторить

              .paginator-row
                .paginator-essence
                  ul.paginator-essence__list
                    li.paginator-essence__item
                      a.paginator-essence__link(href="#") 1
                    li.paginator-essence__item
                      a.paginator-essence__link(href="#") 2
                    li.paginator-essence__item
                      a.paginator-essence__link(href="#") 3
                    li.paginator-essence__item.active
                      a.paginator-essence__link(href="#") 4
                    li.paginator-essence__item.skip-next
                      a.paginator-essence__link(href="#") 5
                    li.paginator-essence__item
                      a.paginator-essence__link(href="#") 10
                  .paginator-essence-controls
                    .paginator-essence-controls__left
                    .paginator-essence-controls__right
                .paginator-mover
                  .paginator-label На странице
                  input.paginator-input(type="text" value="5")



// log end
