// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="Наши услуги") Наши услуги
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="Профессиональная автомойка") Профессиональная автомойка


        //- title
        .breadcrumbs-title
          .breadcrumbs-title-text профессиональная автомойка

// breadcrumbs end
