// service
section.service
  .shell
      .container
        .range
          .service-wrapper
            //- titele
            h2.service-title Приезжая на автомойку Вы хотите, чтобы Ваша машина стала чистой. Но обращаясь к нам, Вы получите намного больше!
            //- content
            .service-content

              //- item
              .service__item
                .left
                  img.left-thumb(src="img/page-service-item__service-thumb-01.png")
                .right
                  .right-title ♦ Соблюдение технологии
                  .right-text Использование аппаратов высокого давления и качественной сертифицированной автокосметики позволяет нам удалять грязь максимально эффективно даже в таких местах как резиновые уплотнители, точки примыкания молдингов, фар, зеркал, колеса и диски авто.
              //- item
              .service__item
                .left
                  img.left-thumb(src="img/page-service-item__service-thumb-02.png")
                .right
                  .right-title ♦ Безопасность
                  .right-text Никто не хочет, чтобы в процессе мойки было повреждено покрытие автомобиля. И чтобы не оставить царапин и затертостей, мы используем бесtконтактную мойку. Это 100% гарантия безопасности лакокрасочного покрытия машины и безупречный внешний вид кузова.
              //- item
              .service__item
                .left
                  img.left-thumb(src="img/page-service-item__service-thumb-03.png")
                .right
                  .right-title ♦ Скорость
                  .right-text Мы понимаем, что Вы можете опаздывать на важную встречу или просто не хотите тратить время на ожидания. Поэтому в процессе автомойки мы используем современные разработки, которые ускоряют действия активной пены на загрязнения и сокращают время сушки. НУ а если быть короче, то процесс автомойки выглядит так: (дальше идут фото, согласно прототипу).

// service end
