// gallery
section.gallery
  .shell
      .container
        .range
          .gallery-wrapper

            //- content
            .gallery-content
              .left
                .item
                  a.item-img(href='img/page-services-item__gallery-01.jpg')
                    img(src='img/page-services-item__gallery-01.jpg', alt='')
                .row
                  .item.half
                    a.item-img(href='img/page-services-item__gallery-02.jpg')
                      img(src='img/page-services-item__gallery-02.jpg', alt='')
                  .item.half
                    a.item-img(href='img/page-services-item__gallery-03.jpg')
                      img(src='img/page-services-item__gallery-03.jpg', alt='')
                .item
                  a.item-img(href='img/page-services-item__gallery-04.jpg')
                    img(src='img/page-services-item__gallery-04.jpg', alt='')

              .right
                .item.quad
                  a.item-img(href='img/page-services-item__gallery-05.jpg')
                    img(src='img/page-services-item__gallery-05.jpg', alt='')
                .row
                  .item.half
                    a.item-img(href='img/page-services-item__gallery-06.jpg')
                      img(src='img/page-services-item__gallery-06.jpg', alt='')
                  .item.half
                    a.item-img(href='img/page-services-item__gallery-07.jpg')
                      img(src='img/page-services-item__gallery-07.jpg', alt='')
// gallery end
