// gallery
section.gallery
  .shell
      .container
        .range
          .gallery-wrapper

            //- content
            .gallery-content
              .left
                .item
                  img.item-img(src="img/page-services-item__gallery-01.jpg")
                .row
                  .item.half
                    img.item-img(src="img/page-services-item__gallery-02.jpg")
                  .item.half
                    img.item-img(src="img/page-services-item__gallery-03.jpg")
                .item
                  img.item-img(src="img/page-services-item__gallery-04.jpg")

              .right
                .item.quad
                  img.item-img(src="img/page-services-item__gallery-05.jpg")
                .row
                  .item.half
                    img.item-img(src="img/page-services-item__gallery-06.jpg")
                  .item.half
                    img.item-img(src="img/page-services-item__gallery-07.jpg")
// gallery end
