// prices
section.prices
  .shell
      .container
        .range
          .prices-wrapper
            //- titele
            h2.prices-title Наши услуги и цены

            //- content
            .prices-content
              //- item
              .item
                .item-title
                  .item-title-text Мойка кузова
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text Легковые малого класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Легковые авто среднего класса, джипы малого класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Легковые авто представительского класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Джипы среднего класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Микроавтобусы малого и среднего класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Микроавтобусы большого класса D
                      .right
                        .right-text 1100


              //- item
              .item
                .item-title
                  .item-title-text Мойка салона
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text Легковые малого класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Легковые авто среднего класса, джипы малого класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Легковые авто представительского класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Джипы среднего класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Микроавтобусы малого и среднего класса
                      .right
                        .right-text 1100
                    li.item-unit
                      .left
                        .left-text Микроавтобусы большого класса D
                      .right
                        .right-text 1100


              //- item
              .item
                .item-title
                  .item-title-text Мойка багажника
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text
                      .right
                        .right-text


              //- item
              .item
                .item-title
                  .item-title-text Полная мойка автомобиля
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text
                      .right
                        .right-text


              //- item
              .item
                .item-title
                  .item-title-text Дополнительный сервис
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text
                      .right
                        .right-text


              //- item
              .item
                .item-title
                  .item-title-text Уход за кожей
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text
                      .right
                        .right-text


              //- item
              .item
                .item-title
                  .item-title-text Химчистка салона
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text
                      .right
                        .right-text


              //- item
              .item
                .item-title
                  .item-title-text Чистка салона мыльным раствором
                .item-content
                  ul.item-list
                    li.item-unit
                      .left
                        .left-text
                      .right
                        .right-text




// prices end
