// order
section.order
  .shell
    .container
      .range
        .order-wrapper

          .order-send
            .order-send__wrap
              .order-send__left
                .order-send__left-text Записаться:
                .order-send__left-subtext Заполните форму — наш менеджер свяжется с Вами и ответит на все вопросы!
              .order-send__mid
                .order-send__mid-name
                  label.order-send__mid-label Ваше Имя
                  input.order-send__mid-input(type="text" placeholder="Имя")
                .order-send__mid-phone
                  label.order-send__mid-label Ваш номер телефона
                  input.order-send__mid-input(type="text" placeholder="+7 (__) ___ __ __")
                .order-send__mid-desc Заполните форму — наш менеджер свяжется с Вами
                //- .order-send__mid-desc Заполните форму — наш менеджер свяжется с Вами и ответит на все вопросы!
              .order-send__right
                .order-send__right-btn отправить
          //-
          //-
          //- a.order__back(href="")
          //-   .order__back-text Вернуться назад
// order end
