// map
section.map
  .shell
    .container
      .range
        .map-wrapper
          //- titele
          h2.map-title.wheel-title наши автомойки на карте
          //- content
          .map-content
            i.map__item-pointer
            //- item
            .map__item
              .map__item-essence
                .map__item-left
                  img.map__item-thumb(src='img/page-servies-item__map-thumb-01.jpg')
                .map__item-right
                  .map__item-title Шинный центр Cordiant
                  .map__item-subtitle Автосервис, автотехцентр, Автомойка, Магазин автозапчастей и автотоваров
                  .map__item-text Республика Казахстан, г.Астана, район Сарыарка 010000, ул.Складская,
                  .map__item-contacts
                    .map__item-phone <span>Тел.: </span> +7 (7172) 49-26-06
                    .map__item-phone <span>Сот.: </span> +7 701727-65-53 +7 701-727-65-83

            i.map__item-pointer
            //- item
            .map__item
              .map__item-essence
                .map__item-left
                  img.map__item-thumb(src='img/page-servies-item__map-thumb-01.jpg')
                .map__item-right
                  .map__item-title Шинный центр Cordiant
                  .map__item-subtitle Автосервис, автотехцентр, Автомойка, Магазин автозапчастей и автотоваров
                  .map__item-text Республика Казахстан, г.Астана, район Сарыарка 010000, ул.Складская,
                  .map__item-contacts
                    .map__item-phone <span>Тел.: </span> +7 (7172) 49-26-06
                    .map__item-phone <span>Сот.: </span> +7 701727-65-53 +7 701-727-65-83


            i.map__item-pointer
            //- item
            .map__item
              .map__item-essence
                .map__item-left
                  img.map__item-thumb(src='img/page-servies-item__map-thumb-01.jpg')
                .map__item-right
                  .map__item-title Шинный центр Cordiant
                  .map__item-subtitle Автосервис, автотехцентр, Автомойка, Магазин автозапчастей и автотоваров
                  .map__item-text Республика Казахстан, г.Астана, район Сарыарка 010000, ул.Складская,
                  .map__item-contacts
                    .map__item-phone <span>Тел.: </span> +7 (7172) 49-26-06
                    .map__item-phone <span>Сот.: </span> +7 701727-65-53 +7 701-727-65-83
// map end
