// header
header.header
  .shell
    .container
      .range
        .header-wrap
          //- .header-logo
          .header-logo
            img.header-logo-essence(src="img/logo.png")

          //- .header-content
          .header-desc
            .desc
             | Шины, Диски <br>
             | и Масла с доставкой <br>
             | по всему Казахстану <br>
            .dealer


          //- .user-block
          .user-block
            .phone +7(727)394-04-58
            .search
            .cart
            .login Войти/регистрация

include 003__menu
// header end
