
// footer
footer.footer
  .footer-inner
    .shell
      .container
        .range
          .footer-essence


            //- content

            .col.col-left
              .col-box
                h4.col-left-title Алматы
                .col-left-list-container
                  ul.col-left-list
                    li.col-left-list-item СТО
                    li.col-left-list-item Мойка
                    li.col-left-list-item Шиномонтаж
                    li.col-left-list-item Магазин
                  .col-left-address
                    .col-left-address-text ул.Джандосова 39
              .col-box
                h4.col-left-title Актау
                .col-left-list-container
                  ul.col-left-list
                    li.col-left-list-item Шиномонтаж
                  .col-left-address
                    .col-left-address-text район Сарыарка ул.Складская


            .col.col-mid
              .col-mid__title Остались вопросы?
              .col-mid__desc Отправьте контактные данные и наш консультант с вами свяжется в ближайшее время
              form.col-mid__form
                label Ваше имя
                input(type="text" name="name" placeholder="Имя")
                label Ваш номер телефона
                input(type="text" name="name" placeholder="+7 (__) ___ __ __")
                button.col-mid__form-btn(onclick="return false;") Отправить


            .col.col-right
              .col-box.contacts
                h4 Контактные телефоны:
                .phones-list-title Магазин:
                ul.phones-list
                  li.phones-list-item +7 (727) 344-08-80
                  li.phones-list-item +7 (727) 344-08-80
                .phones-list-title Сервисы:
                ul.phones-list
                  li.phones-list-item +7 (727) 344-08-80
              .col-box.socials
                h4 Мы в социальных сетях:
                ul.socials__list
                  li.socials__item
                    img.socials__item-img(src="img/home_socials-01.png")
                  li.socials__item
                    img.socials__item-img(src="img/home_socials-02.png")
                  li.socials__item
                    img.socials__item-img(src="img/home_socials-03.png")
                  li.socials__item
                    img.socials__item-img(src="img/home_socials-04.png")

// footer end
