nav.main-menu
  li.main-menu__item
    a.main-menu__link Шины

    ul.main-submenu
      li.main-submenu__item
        a.main-submenu__link подменю-01
      li.main-submenu__item
        a.main-submenu__link подменю-02
      li.main-submenu__item
        a.main-submenu__link подменю-03

  li.main-menu__item
    a.main-menu__link Диски
  li.main-menu__item
    a.main-menu__link Масла
  li.main-menu__item
    a.main-menu__link Аксессуары
  li.main-menu__item
    a.main-menu__link Услуги
  li.main-menu__item
    a.main-menu__link FAQ
  li.main-menu__item
    a.main-menu__link Акции
  li.main-menu__item
    a.main-menu__link О нас
  li.main-menu__item
    a.main-menu__link Контакты
