// header
header
  .shell
    .container
      .range
        //- .header-logo
        .header-logo

        //- .header-content
        .header-desc
          .desc
          .dealer


        //- .user-block
        .user-block
          .phone +7(727)394-04-58
          .search
          .cart
          .login Войти/регистрация

        .header-wrapper
          //- titele
          h2.header-title   // db; ttu; tac; mbN
          hr
          //- content
          .header-content
            .header-content__item|unit
              .unit-left|item-left
// header end
