
// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="Каталог дисков") Каталог дисков


        //- title
        .breadcrumbs-title
          .breadcrumbs-title-text Каталог дисков

// breadcrumbs end
