// module
section.module
  .shell
    .container
      .range


        .module-title Воспользуйтесь фильтром поиска шин


        .module-wrapper


          .content

            .size
              .title Варианты размеров:
              .subtitle Мы подобрали для вашего автомобиля подходящие размеры шин
              .control-group
                //- item
                .item
                  label.label Марка
                  select.select.jcf-hidden(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}')
                    option BMW
                    option VW
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    option Volvo
                    //- .select__arrow
                //- item
                .item
                  label.label Модель
                  select.select.jcf-hidden(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}')
                    option 20
                    option 19
                    option 18
                    option 17
                    option 16
                    option 15
                    option 14
                    option 13
                    option 12
                    option 11
                    option 10
                    option 9
                    option 8
                    option 7
                    option 6
                    option 5
                    option 4
                    option 3
                    option 2
                    option 1

                    //- .select__arrow
                //- item
                .item
                  label.label Год
                  select.select.jcf-hidden(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}')
                    option 2011
                    option 2015
                    option 2017
                    //- .select__arrow
                //- item
                .item
                  label.label Модификация
                  select.select.jcf-hidden(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}')
                    option 318d
                    option 318d
                    option 318d
                    //- .select__arrow

            .dimentions
              .title Выберите желаемый размер шин:
              .params
                .params__col
                  .title Шины
                  .item 205/55/16 - Оригинал
                  .item 215/45/17 - Замена
                  .item 225/35/19 - Замена
                  .item 245/35/19 - Замена
                  .item 205/35/18 - Замена
                .params__col
                  .title Ширина
                  .item 205
                  .item 215
                  .item 225
                  .item 225
                  .item 315
                .params__col
                  .title Высота
                  .item 55
                  .item 45
                  .item 45
                  .item 35
                  .item 35
                .params__col
                  .title Диаметр
                  .item 16
                  .item 16
                  .item 19
                  .item 19
                  .item 18



            .disk
              .title Также вы можете подобрать диски для своего автомобиля:

              .dimentions
                .params
                  .params__col
                    .title Диски
                    .item 7.50 x 19 ET40 - Оригинал
                    .item 8.00 x 20 ET40 - Замена
                    .item 8.50 x 22 ET40 - Замена
                  .params__col
                    .title Ширина:
                    .item 205
                    .item 215
                    .item 225
                  .params__col
                    .title Диаметр:
                    .item 55
                    .item 45
                    .item 45
                  .params__col
                    .title Диаметр ступицы:
                    .item 16
                    .item 16
                    .item 19
                  .params__col
                    .title Вылет:
                    .item 40.00
                    .item 40.00
                    .item 40.00
                  .params__col
                    .title PCD:
                    .item 5x112.00
                    .item 5x112.00
                    .item 5x112.00

              .disk-thumbs
                .disk-thumbs__item
                .disk-thumbs__item
                .disk-thumbs__item
                .disk-thumbs__item

// module end
