// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") FAQ ответы на часто задаваемые вопросы
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="Нужны ли шипованные шины в Алматы?") Нужны ли шипованные шины в Алматы?


        //- title
        .breadcrumbs-title
          .breadcrumbs-title-text Нужны ли шипованные шины в Алматы?

// breadcrumbs end
