// log
section.log
  .shell
      .container
        .range
          .log-wrapper

            //- content
            .log-content
              //- row
              .log-row
                .title История заказов
                .search
                  .search-send
                  input.search-input(type='input' placeholder="Поиск")
                  .search-btn
                    .search-btn-text Найти
              //- content
              .check-tab
                .no-orders
                  .no-orders-text У вас ещё не было заказов
                .col.photo
                  .cell.first Фото
                  .cell
                .col.name
                  .cell.first Название
                  .cell
                .col.size
                  .cell.first Размер
                  .cell
                .col.category
                  .cell.first Категория
                  .cell
                .col.num
                  .cell.first Количество, шт
                  .cell
                .col.price
                  .cell.first Цена, тг
                  .cell
                .col.del
                  .cell.first
                  .cell


// log end
