// content
section.content
  .shell
      .container
        .range
          .content-wrapper
            .content-thumb
            //- title
            h2.content-title Упс, похоже, что вас направили на страницу которой не существует
            .content-subtitle Но не расстраивайтесь, навигация сверху работает исправно!
// content end
