// slider
section.slider
  .shell
    .container
      .range

        .carousel.slider-item
          .carousel-cell
            .slider-item-inner
              //- content
              .slider-content
                .slider-content__left
                  .slider-content__thumb

                .slider-content__right
                  //- titele
                  h2.slider-title Пора «переобуться»!  Закажите летние шины со скидкой до 10 %
                  .slider-desc Позаботьтесь о безопасном передвижении на дорогах эти летом: закажите комплект летних шин для Вашего автомобиля —  получите 10% скидки на заказ и профессиональную помощь по шиномонтажу в одном из наших сервисных центров!
                  .link-container
                    .link-promo получить скидку
                    .link-more узнать больше
          .carousel-cell
            .slider-item-inner

              //- content
              .slider-content
                .slider-content__left
                  .slider-content__thumb

                .slider-content__right
                  //- titele
                  h2.slider-title Пора «переобуться»!  Закажите летние шины со скидкой до 10 %
                  .slider-desc Позаботьтесь о безопасном передвижении на дорогах эти летом: закажите комплект летних шин для Вашего автомобиля —  получите 10% скидки на заказ и профессиональную помощь по шиномонтажу в одном из наших сервисных центров!
                  .link-container
                    .link-promo получить скидку
                    .link-more узнать больше
          .carousel-cell
            .slider-item-inner

              //- content
              .slider-content
                .slider-content__left
                  .slider-content__thumb

                .slider-content__right
                  h2.slider-title Пора «переобуться»!  Закажите летние шины со скидкой до 10 %
                  .slider-desc Позаботьтесь о безопасном передвижении на дорогах эти летом: закажите комплект летних шин для Вашего автомобиля —  получите 10% скидки на заказ и профессиональную помощь по шиномонтажу в одном из наших сервисных центров!
                  .link-container
                    .link-promo получить скидку
                    .link-more узнать больше




        //- .slider-controls
        .slider-controls
          .slider-controls__left
          .slider-controls__right
// slider end
