// promo
section.promo
  .shell
    .container
      .range
        .promo-wrapper

          .breadcrumbs
            ul.breadcrumbs-list
              li.breadcrumbs-item
                a.breadcrumbs-link


// promo end
