// order
section.order
  .shell
    .container
      .range
        .order-wrapper
          .order-top-row
            .order-title Пора «переобуться»!  Закажите летние шины со скидкой до 10 %

            .order-steps
              .order-steps__title Как принять участие в акции:
              ul.order-steps__list
                li.order-steps__list-item Шаг 1 — перейдите в наш каталог
                li.order-steps__list-item Шаг 2 — воспользуйтесь фильтром для подбора шин
                li.order-steps__list-item Шаг 3 — выберите подходящий комплект и оформите заказ
                li.order-steps__list-item Шаг 4 — получите 10% скидки при оплате заказа карточкой или наличными
                li.order-steps__list-item Шаг 5 — обратитесь в наш сервисный центр и получите гарантию на шиномотнаж летних шин

          .order-send
            .order-send__wrap
              .order-send__left
                .order-send__left-text Остались вопросы?
                .order-send__left-subtext Заполните форму — наш менеджер свяжется с Вами и ответит на все вопросы!
              .order-send__mid
                .order-send__mid-name
                  label.order-send__mid-label Ваше Имя
                  input.order-send__mid-input(type="text" placeholder="Имя")
                .order-send__mid-phone
                  label.order-send__mid-label Ваш номер телефона
                  input.order-send__mid-input(type="text" placeholder="+7 (__) ___ __ __")
                .order-send__mid-desc Заполните форму — наш менеджер свяжется с Вами и ответит на все вопросы!
              .order-send__right
                .order-send__right-btn отправить


          a.order__back(href="")
            .order__back-text Вернуться назад
// order end
