// check
section.check
  .shell
    .container
      .range
        .check-wrapper

          .check-title Корзина
          .steps
            .steps__control
            ul.steps__list
              li.steps__list-item.current
                a.steps__list-item-link Ваши заказы
              li.steps__list-item
                a.steps__list-item-link Контактные данные
              li.steps__list-item
                a.steps__list-item-link Оплата
            .steps__progress
              .steps__progress-text
                span.current 1
                | /3

          .check-tab
            .col.photo
              .cell.first Фото
              .cell
                img.cell-img(src="img/p-check_tab-photo-01.png")
              .cell
                img.cell-img(src="img/p-check_tab-photo-02.png")
              .cell
                img.cell-img(src="img/p-check_tab-photo-03.png")
              .cell
                img.cell-img(src="img/p-check_tab-photo-04.png")
              .cell
                img.cell-img(src="img/p-check_tab-photo-05.png")
            .col.name
              .cell.first Название
              .cell Rikken snowtime B2
              .cell BMW M TwinPower Turbo
              .cell Stark ST-24
              .cell Infolight Expert PRO/Xenotex H7
              .cell Rikken snowtime B2
            .col.size
              .cell.first Размер
              .cell 120/45/92
              .cell 60
              .cell 10/50 4х118
              .cell 4300К
              .cell 120/45/92
            .col.category
              .cell.first Категория
              .cell Легковые
              .cell Синтетическое масло
              .cell Диски
              .cell Свет
              .cell Легковые
            .col.num
              .cell.first Количество, шт
              .cell
              .cell
              .cell
              .cell
              .cell
            .col.price
              .cell.first Цена, тг
              .cell 110 000
              .cell 50 000
              .cell 9 999 999
              .cell 50
              .cell 110 000
            .col.del
              .cell.first
              .cell
                .remove-btn
              .cell
                .remove-btn
              .cell
                .remove-btn
              .cell
                .remove-btn
              .cell
                .remove-btn

          .check-sum
            .text Общая стоимость:
            .num 876 412
            .btn
              .btn-text Следующий шаг

          .fast
            .fast__wrapper
              .fast__desc
                .fast__desc-title Заказать без оформления
                .fast__desc-text Можно не заполнять никаких форм, просто оставить телефон и консультант решит все вопросы по оформлению заказа.

              .fast__phone
                label.fast__phone-title Ваш номер телефона
                input.fast__phone-field(type="text" placeholder="+7 (__) ___ __ __")
              .fast__btn
                .fast__btn-text Отправить

// check end
