// breadcrumbs
section.breadcrumbs
  .shell
    .container
      .range
        .breadcrumbs-wrapper
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a.breadcrumbs-link(href="") Главная
            li.breadcrumbs-item
              a.breadcrumbs-link(href="" data-original="Поиск") Поиск


        //- title
        .breadcrumbs-title
          .breadcrumbs-title-text Поиск

// breadcrumbs end
