// search
section.search
  .shell
      .container
        .range
          .search-wrapper

            //- content
            form.search-form
              input.search-form__field(type="text")
              .search-form__send-btn Отправить

// search end
