// filter
section.filter
  .shell
      .container
        .range
          .filter-wrapper
            //- titele
            h2.filter-title   // db; ttu; tac; mbN
            //- hr


            //- content
            .filter-content
              .filter-essence
                .filter-essence__left
                .filter-essence__right
                
// filter end
