// slider
section.slider
  .shell
    .container
      .range

        .slider-item
          //- titele
          h2.slider-title
          //- content
          .slider-content
            .slider-desc
            .link-container
              .link-promo
              .link-more

        //- .slider-controls
        .slider-controls
          .slider-controls__left
          .slider-controls__right
// slider end
