// promo
section.promo
  .shell
    .container
      .range
        .promo-wrapper
          //- ITEM
          .promo-item

            //- left
            .promo-item__left
              .promo-item__img

            //- right
            .promo-item__right
              //- titele
              h2.promo-title   // db; ttu; tac; mbN

              //- content
              .promo-text
              .promo-link-container
                .promo-link-more
                .promo-desc

          //- VIEW ALL
          .promo-show
            .promo-show-btn
// promo end
