// promo
section.promo
  .shell
    .container
      .range
        .promo-wrapper

          //- ITEM
          .promo-item

            //- left
            .promo-item__left
              img.promo-item__img(src="img/home_promo-item-01.jpg")

            //- right
            .promo-item__right
              //- titele
              h2.promo-title Весна пришла! шины и услуги шинного сервиса со скидкой до 50%!

              //- content
              .promo-text
               | Дорогие друзья! <br>
               | С 1 декабря мы запускаем новую акцию F7. План «В». <br>
               | Теперь Вы можете купить зимние шины и получить услуги шинного  ... .юююскидкой до 50%!
              .promo-link-container
                .promo-link-more Узнать больше
                .promo-desc
                  .promo-desc-text действует с  01.01.2016 по 29.04.2017


          //- ITEM
          .promo-item

            //- left
            .promo-item__left
              img.promo-item__img(src="img/home_promo-item-02.jpg")

            //- right
            .promo-item__right
              //- titele
              h2.promo-title Весна пришла! шины и услуги шинного сервиса со скидкой до 50%!

              //- content
              .promo-text
               | Дорогие друзья!
               | С 1 декабря мы запускаем новую акцию F7. План «В».
               | Теперь Вы можете купить зимние шины и получить услуги шинного  ... .юююскидкой до 50%!
              .promo-link-container
                .promo-link-more Узнать больше
                .promo-desc действует с  01.01.2016 по 29.04.2017

          //- ITEM
          .promo-item

            //- left
            .promo-item__left
              img.promo-item__img(src="img/home_promo-item-03.jpg")

            //- right
            .promo-item__right
              //- titele
              h2.promo-title Весна пришла! шины и услуги шинного сервиса со скидкой до 50%!

              //- content
              .promo-text
               | Дорогие друзья!
               | С 1 декабря мы запускаем новую акцию F7. План «В».
               | Теперь Вы можете купить зимние шины и получить услуги шинного  ... .юююскидкой до 50%!
              .promo-link-container
                .promo-link-more Узнать больше
                .promo-desc действует с  01.01.2016 по 29.04.2017



          //- VIEW ALL
          .promo-show
            .promo-show-btn
// promo end
