// services
section.services
  .shell
    .container
      .range
        .services-wrapper
          //- titele
          h2.services-title
          //- content
          .services-content

            
            //- ITEM
            .services__item
              .services__item__title
              .services__item__text
              .services__item__services
              //- .services__item__btns
              .services__item__subscribe
              .services__item__more
// services end
