// partners
section.partners
  .shell
    .container
      .range
        .partners-wrapper
          //- title
          h2.partners-title

          //- content
          .partners-content
            .partners__item
              .partners__item-img

// partners end
