
.header-mobile__burger-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -65px;
	width: 130px;
	height: 40px;

  // custom:
  width: 80px;
  height: 60px;
  margin: 0;
  transform: translate(-50%, -50%);
  padding-left: 25px;
  padding-top: 10px;
  cursor: pointer;
}

.header-mobile__burger-container input {
	display: none;
}

.header-mobile__burger-container label {
	position: relative;
	width: 30px;
	height: 40px;
	display: block;
	cursor: pointer;
	background: transparent;
}

/* Exit Icon */

.header-mobile__burger-container label:before,
.header-mobile__burger-container input:checked + label:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: 30px;
	height: 3px;
	border-radius: 2px;
	background: #cddbe3;
}

.header-mobile__burger-container label:before {
	-webkit-animation: animationOneReverse 1s ease forwards;
	animation: animationOneReverse 1s ease forwards;
}

@-webkit-keyframes animationOneReverse {
	0% { -webkit-transform: rotate(315deg); }
	25% { -webkit-transform: rotate(360deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationOneReverse {
	0% { transform: rotate(315deg); }
	25% { transform: rotate(360deg); }
	50%, 100% { transform: rotate(0deg); }
}

.header-mobile__burger-container input:checked + label:before {
	-webkit-animation: animationOne 1s ease forwards;
	animation: animationOne 1s ease forwards;
}

@-webkit-keyframes animationOne {
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(315deg); }
}
@keyframes animationOne {
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(360deg); }
	100% { transform: rotate(315deg); }
}

.header-mobile__burger-container label:after,
.header-mobile__burger-container input:checked + label:after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -2px;
	width: 30px;
	height: 3px;
	border-radius: 2px;
	background: #cddbe3;
}

.header-mobile__burger-container label:after {
	-webkit-animation: animationTwoReverse 1s ease forwards;
	animation: animationTwoReverse 1s ease forwards;
}

@-webkit-keyframes animationTwoReverse {
	0% { -webkit-transform: rotate(405deg); }
	25% { -webkit-transform: rotate(450deg); }
	50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationTwoReverse {
	0% { transform: rotate(405deg); }
	25% { transform: rotate(450deg); }
	50%, 100% { transform: rotate(0deg); }
}

.header-mobile__burger-container input:checked + label:after {
	-webkit-animation: animationTwo 1s ease forwards;
	animation: animationTwo 1s ease forwards;
}

@-webkit-keyframes animationTwo {
	0%, 50% { -webkit-transform: rotate(0deg); }
	75% { -webkit-transform: rotate(450deg); }
	100% { -webkit-transform: rotate(405deg); }
}
@keyframes animationTwo {
	0%, 50% { transform: rotate(0deg); }
	75% { transform: rotate(450deg); }
	100% { transform: rotate(405deg); }
}

/* Burger Icon */

.header-mobile__burger-container label .burger:before {
	content: '';
	position: absolute;
	top: 10px;
	width: 30px;
	height: 3px;
	border-radius: 2px;
	background: #cddbe3;
	-webkit-animation: animationBurgerTopReverse 1s ease forwards;
	animation: animationBurgerTopReverse 1s ease forwards;
}

@-webkit-keyframes animationBurgerTopReverse {
	0%, 50% { -webkit-transform: translateY(8px); opacity: 0; }
	51% { -webkit-transform: translateY(8px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerTopReverse {
	0%, 50% { transform: translateY(8px); opacity: 0; }
	51% { transform: translateY(8px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}

.header-mobile__burger-container input:checked + label .burger:before {
	-webkit-animation: animationBurgerTop 1s ease forwards;
	animation: animationBurgerTop 1s ease forwards;
}

@-webkit-keyframes animationBurgerTop {
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(8px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(8px); opacity: 0; }
}
@keyframes animationBurgerTop {
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(8px); opacity: 1; }
	51%, 100% { transform: translateY(8px); opacity: 0; }
}

.header-mobile__burger-container label .burger:after {
	content: '';
	position: absolute;
	bottom: 10px;
	width: 30px;
	height: 3px;
	border-radius: 2px;
	background: #cddbe3;
	-webkit-animation: animationBurgerBottomReverse 1s ease forwards;
	animation: animationBurgerBottomReverse 1s ease forwards;
}

@-webkit-keyframes animationBurgerBottomReverse {
	0%, 50% { -webkit-transform: translateY(-8px); opacity: 0; }
	51% { -webkit-transform: translateY(-8px); opacity: 1; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerBottomReverse {
	0%, 50% { transform: translateY(-8px); opacity: 0; }
	51% { transform: translateY(-8px); opacity: 1; }
	100% { transform: translateY(0px); opacity: 1; }
}

.header-mobile__burger-container input:checked + label .burger:after {
	-webkit-animation: animationBurgerBottom 1s ease forwards;
	animation: animationBurgerBottom 1s ease forwards;
}

@-webkit-keyframes animationBurgerBottom {
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	50% { -webkit-transform: translateY(-8px); opacity: 1; }
	51%, 100% { -webkit-transform: translateY(-8px); opacity: 0; }
}
@keyframes animationBurgerBottom {
	0% { transform: translateY(0px); opacity: 1; }
	50% { transform: translateY(-8px); opacity: 1; }
	51%, 100% { transform: translateY(-8px); opacity: 0; }
}
