

.footer {
  & .col-mid__title{
    // font-family: 'PT Sans Narrow', sans-serif;
    // @include font(normal, 400, 33px, 48px, 'PT Sans Narrow');
    @include font(normal, 400, 33px, 48px, 'PTSans-Narrow');
    color: #f39552;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;

    @media #{$mobile} {
      white-space: nowrap;
    }
  }
}



.footer {
  & .col-mid__desc{
    text-align: center;
    @include font(normal, 400, 18px, 27px, 'Arial');
    color: #cfdee7;
    margin-bottom: 30px;
  }
}



.footer {
  & .CLASS{

  }
}


.footer {
  & .col-mid__form label{
    @include font(normal, 400, 14px, 21px, 'Arial');
    color: #cfdee7;

    display: block;
    margin-bottom: 15px;
  }
  & .col-mid__form input{
    display: block;
    width: 100%;
    height: 40px;

    border-radius: 2px;
    border: 1px solid #6b6b72;
    background-color: #353538;
    outline: none;
    padding: 12px;
    opacity: 0.4;
    color: #cfdee7;
    @include font(normal, 600, 14px, 21px, 'Arial');

    margin-bottom: 30px;

    &:focus  {
      opacity: 1;
      border-radius: 2px;
      border: 1px solid #cfdee7;
    }

    &::placeholder {
      @include font(italic, 600, 14px, 21px, 'Arial');
    }
    &::-webkit-input-placeholder {
      @include font(italic, 600, 14px, 21px, 'Arial');
    }
    &::-moz-placeholder {
      @include font(italic, 600, 14px, 21px, 'Arial');
    }/* Firefox 19+ */
    &:-moz-placeholder {
      @include font(italic, 600, 14px, 21px, 'Arial');
    }/* Firefox 18- */
    &:-ms-input-placeholder {
      @include font(italic, 600, 14px, 21px, 'Arial');
    }
    // early 2014 http://html5.by/blog/placeholder/
  }
}



.footer {
  & .col-mid__form-btn{
    display: block;
    /* Style for "Прямоуголь" */
    width: 100%;
    height: 40px;
    box-shadow: 3px 4px 10px rgba(37, 19, 6, 0.2);
    border-radius: 2px;
    background-image: linear-gradient(17deg, #f5802c 0%, #f99944 100%);


    @include font(normal, 400, 18px, 27px, 'Arial');
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    // ---
    transition: background 0.5s;
    background-size: 100% auto;
    background-image: linear-gradient(to top, #f67519 0%, #fa8c3c 51%, #fd9d58 100%);
    position: relative;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-size: 200% auto;
      background-position: bottom center; /* change the direction of the change here */
    }
    &:active {
      top: 1px;
    }
    &.inactive {
      opacity: 0.5;
    }
    // ---
  }
}



.footer {
  & .CLASS{

  }
}
